USE [EMPRESA]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Dobro]    Script Date: 05/09/2025 09:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[fn_Dobro](@Numero DECIMAL(10,2))
RETURNS DECIMAL(10,2) --> Tipo de retorno da função
AS
BEGIN --> Aqui começa o bloco da função
	RETURN @Numero * 2; --> Retorno da função
END;